#seriesList
  margin-top 5%;
  display:flex;
  justify-content center;

#seriesList a
  margin:10px;
  padding:10px;
  background-color:darkslategray;
  color:white;
  font-size 2em;
  text-decoration none;
  border-radius 10px;
